<h1>Cuisines</h1>
<ul>
  <li *ngFor="let c of cuisines | async | keyvalue">{{ c.key }} - {{ c.value }}</li>
</ul>

<h1>Restaurants</h1>
<ul>
    <li *ngFor="let r of restaurants | async">
        {{ r.name }} - {{ r.cuisineType | async }}
        <ul>
            <li *ngFor="let f of r.featureTypes"> {{ f | async }}</li>
        </ul>
    </li>
</ul>

<div *ngIf="exists | async">
    Exists
</div>

<div>
    <button (click)="addRestaurant()">Add restaurant</button>
</div>


<h3>Hello {{ displayName }}</h3>
<img *ngIf="photoURL" src="{{ photoURL }}">
<div style="padding-top: 2rem;">
    <button (click)="login()">Login</button>
    <button (click)="logout()">Logout</button>
    <button (click)="register()">Register</button>
</div>
<div *ngIf="error">{{ error }}</div>

